<!DOCTYPE html>
<html>
<head>
<meta charset ="utf-8">
<title>About page</title>

</head>
<body>
	
	{{> footer}} <!--/injecting footer partial-->
	
</body>
</html>

<!--here bymaking use of curly braces we are injecting dynamic data into our about page -->